<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <p>&copy; {{year}} Tech Blog. All rights reserved.</p>
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
      website content is licensed
    </p>
  </div>
</footer>