<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-menu">

      {{!-- nav home btn --}}
      <div class="navbar-start">
        <span class="icon-text navbar-item">
          <a class="button is-primary is-outlined" href="/">
            <span class="icon"><i class="fas fa-home"></i></span>
            <strong>Home</strong>
          </a>
        </span>

        {{!-- nav searchbar --}}
        <div class="navbar-item nav-search ui-widget">
          <div class="field">
            <div class="control">
              <input class="input is-primary is-outlined search" type="text" placeholder="Search users" id="user-search">
            </div>
          </div>
        </div>
      </div>



      {{!-- nav login logout and dashboard --}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if logged_in}}

              <a class="button is-primary is-outlined" href="/dashboard">
                <span class="icon"><i class="fas fa-user"></i></span>
                <strong>Dashboard</strong>
              </a>

              <a class="button is-primary is-outlined" id="logout"><strong>Logout</strong></a>
            {{else}}
              <a class="button is-primary is-outlined" href="/signup"><strong>Sign up</strong></a>
              <a class="button is-primary is-outlined" href="/login">Log in</a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>