<section class="hero is-primary is-fullheight is-fullwidth">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Log in</p>
      <form id="login-form">
        <div class="field">
          <input class="input custom-input-width" type="text" name="username" placeholder="username"/>
        </div>
        <div class="field">
          <input class="input custom-input-width" type="password" name="password" placeholder="password"/>
        </div>
        <button type="submit" class="button is-light">Login</button>
      </form>
      <a href="/signup">Don't have an account? Sign up</a>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>
