<form id="login-form">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
<a href="/signup">Don't have an account? Sign up</a>
<script src="/js/login.js"></script>
