<section class="hero is-primary is-fullheight is-fullwidth">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">Sign Up</p>
      <form id="signup-form">
        <div class="field">
          <input class="input custom-input-width" type="text" name="username" placeholder="username"/>
        </div>
        <div class="field">
          <input class="input custom-input-width" type="password" name="password" placeholder="password"/>
        </div>
        <button type="submit" class="button is-light">Signup</button>
      </form>
      <a href="/login">Already have an account? Login</a>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>