<section class="hero is-primary is-fullheight is-fullwidth">
  <div class="hero-body">
    <div class="container has-text-centered is-flex is-flex-direction-column is-align-items-center">
      <h1 class="titleText">ConnectU</h1>
      <p class="title">Sign Up</p>
      <form id="signup-form">
        <div class="field">
          <input class="input custom-input-width" type="text" name="username" placeholder="username" id="username" required/>
        </div>
        <div class="field">
          <input class="input custom-input-width" type="password" name="password" placeholder="password" id="password" required/>
        </div>
        {{!-- file --}}
        <div id="file-js" class="file has-name is-light">
          <label class="file-label">
            <input class="file-input" type="file" name="profile_pic" id="profile_pic">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">Choose a profile pic...</span>
            </span>
            <span class="file-name">No file uploaded </span>
          </label>
        </div>
        <button type="submit" class="button is-light">Signup</button>
      </form>
      <a href="/login">Already have an account? Login</a>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>