/* General page styles */

header {
  font-family: "Jomolhari", serif;
}

.heading {
  font-size: large;
}



#dashUserPic {
  overflow: hidden;
  border-radius: 50%;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
  transition: box-shadow 1s ease, transform 1s ease;
}

#dashUserPic:hover {
  box-shadow: none;
  transform: scale(1.1);
}

#dashUserPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


/* for the autocomplete */
#project-label {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}

#project-icon {
  float: left;
  height: 32px;
  width: 32px;
}

#project-description {
  margin: 0;
  padding: 0;
}


#user-label {
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
}

#user-icon {
  float: left;
  height: 32px;
  width: 32px;
}

#user-description {
  margin: 0;
  padding: 0;
}

.custom-col-width {
  width: 100%;
}

.custom-form-width {
  width: 100%;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  width: 300px;
}

.is-scrollable {
  height: 100vh;
  overflow-y: auto;
}

.fixed-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.cell {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
  width: 100%;
}

.cell::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  /* This creates the 1:1 aspect ratio */
}

.cell>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  font-family: "Jomolhari", serif;
  /* background-color: teal;
  color: #ffb3c6; */
  padding: 10px;
  margin-bottom: 5px;
  font-size: 26px;
}

#blogName {
  color: #ffe5ec;
}

/* main {
    font-family: "Jomolhari", serif;
    margin-top: -5px;
    background-color: #a28089;
  } */

.homepage-main {
  margin-top: 34px;
}

/* Set the height of the autocomplete menu */
.ui-menu {
  max-height: 300px;
  /* Adjust the height as needed */
  overflow-y: auto;
  /* Add a vertical scrollbar if the content exceeds the height */
}

/* Ensure a consistent height for each item in the autocomplete list */
.ui-menu .ui-menu-item-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 80px;
  /* Adjust as needed to fit your card design */
  box-sizing: border-box;
}

/* Optional: Style the scrollbar */
.ui-menu::-webkit-scrollbar {
  width: 6px;
}

.ui-menu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.ui-menu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Style the card */
.card {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.media-right {
  margin-left: auto;
}


.user-name {
  background-color: #84a59d;
}

.blogPost-main {
  margin-top: 34px;
}

/* Nav styles */

.navBar {
  background-color: #00a0a0;
}

#user-search {
  width: 400px;
}

/* #logout {
    background-color: #84a59d;
  } */

.custom-input-width {
  width: 50%;
}

/* Input/textarea styles */

#titleInput,
#bodyInput,
#comment,
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup {
  background-color: #e5eaf5;
}

/* Button styles */

.btn {
  background-color: #ffb3c6;
}

/* Card styles */

.card-header {
  background-color: #e5eaf5;
}

.chatCard {
  width: 100%;
}

/* .card-body {
    background-color: #ffe5ec;
  }
  
  .card {
    background-color: #ffe5ec;
  } */

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.footer {
  --bulma-footer-padding: 1rem 1.5rem 2rem;
}